.contact-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 5px;
}

.contact-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

.contact-box {
  display: flex;
  gap: 30px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

/* LEFT */
.contact-info {
  width: 35%;
}

.contact-info h3 {
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 14px;
}

/* FORM */
.contact-form {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  resize: none;
  height: 90px;
}

.contact-form button {
  background: #ff9f00;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .contact-box {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }
}
