/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
 
}

.logo img {
  width: 200px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}

.nav a.active {
  color: #f838cf;
}

.order-btn button {
  padding: 10px 70px;
     background: linear-gradient(90deg, #ed0c7a 0%, #e76b35 99.88%);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  
    line-height: 1.2;
}

.order-btn button:hover {
  background-color: #e90ea098;
} */




.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 55px;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  font-size: 24px;
  color: #333;
  font-weight: 500;
}

.nav a.active {
  color: #ed0c7a;
}

.order-btn button {
  padding: 10px 75px;
  border: none;
  background: linear-gradient(90deg, #ed0c7a 0%, #e76b35 99.88%);
  color: white;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}



@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .nav.active {
    display: flex;
  }

  .order-btn {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
